<h1 mat-dialog-title>Edit Gold</h1>
<mat-dialog-content>
  <form
    class="flex w-full flex-col items-start justify-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="w-full" appearance="standard">
      <mat-label>Cuantity</mat-label>
      <input matInput type="number" required [formControl]="quantityControl" min="0" />
      <mat-hint> You currently have {{ data }} gold. </mat-hint>
      <mat-error *ngIf="quantityControl.invalid && quantityControl.hasError('required')">
        Quantity is required.
      </mat-error>
      <mat-error *ngIf="quantityControl.invalid && quantityControl.hasError('min')">
        Quantity must be 0 or more.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex items-center justify-between">
  <button mat-stroked-button type="button" color="primary" [mat-dialog-close]="null">Cancel</button>
  <button
    mat-flat-button
    type="button"
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Save
  </button>
</mat-dialog-actions>
