<mat-toolbar color="primary" class="flex-none z-10 h-auto p-4 fixed">
  <div class="flex items-end">
    <a
      href="https://github.com/Gummiees/time-sheet"
      target="_blank"
      class="
        h-8
        flex
        items-center
        justify-center
        transform
        transition
        duration-150
        ease-in-out
        hover:scale-110
        active:scale-110
      "
      aria-label="GitHub"
      matTooltip="GitHub"
      matTooltipPosition="below"
    >
      <img class="rounded-full h-8" src="assets/images/github.svg" />
    </a>
    <span *ngIf="version" class="ml-2 leading-sm text-sm">v{{ version }}</span>
  </div>
  <span class="flex-auto"></span>
  <a
    routerLink="/user"
    class="
      h-12
      flex
      items-center
      justify-center
      transform
      transition
      duration-150
      ease-in-out
      hover:scale-110
      active:scale-110
    "
    aria-label="Account settings"
    matTooltip="Account settings"
    matTooltipPosition="below"
  >
    <span class="mr-2" *ngIf="username">{{ username }}</span>
    <mat-icon class="h-12 w-12 text-5xl"> account_circle </mat-icon>
  </a>
</mat-toolbar>
