<mat-dialog-content>
  <form
    class="flex w-full flex-col items-start justify-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="w-full" appearance="standard">
      <mat-label>Sides</mat-label>
      <input matInput type="number" min="1" required [formControl]="sidesControl" />
      <mat-error *ngIf="sidesControl.invalid"> You must enter sides </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="standard">
      <mat-label>Multiplier</mat-label>
      <input matInput type="number" min="1" required [formControl]="multiplierControl" />
      <mat-error *ngIf="multiplierControl.invalid"> You must enter a multiplier </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex items-center justify-between">
  <button mat-stroked-button type="button" color="primary" [mat-dialog-close]="null">Cancel</button>
  <button
    mat-flat-button
    type="button"
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>
