<footer class="bg-indigo-material w-full flex justify-between items-center p-4">
  <div> </div>
  <div>
    <a class="image-container github-icon" href="https://github.com/Gummiees/time-sheet">
      <img
        class="
          h-8
          w-8
          rounded-full
          transform
          transition
          duration-150
          ease-in-out
          hover:shadow hover:scale-125
          active:shadow active:scale-125
        "
        src="assets/images/github-logo.svg"
        alt="GitHub logo"
      />
    </a>
  </div>
</footer>
