<form class="flex items-center justify-center flex-wrap" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Entry type</mat-label>
    <mat-select [formControl]="typeControl" required>
      <mat-option *ngFor="let item of types" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="typeControl.hasError('required')">Please choose a type</mat-error>
  </mat-form-field>
  <p-calendar
    class="mat-calendar ml-2"
    dateFormat="dd/mm/yy"
    hourFormat="24"
    [showTime]="true"
    [showWeek]="true"
    [stepMinute]="15"
    [showButtonBar]="true"
    [formControl]="dateControl"
  ></p-calendar>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="ml-2 mb-mat-select"
    [disabled]="isDisabled()"
  >
    <span>Create entry</span>
  </button>
</form>
