<p-table
  #dt
  styleClass="p-datatable-sm p-datatable-striped"
  responsiveLayout="stack"
  class="w-full"
  dataKey="id"
  editMode="row"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rows]="25"
  [rowsPerPageOptions]="[25, 50, 100]"
  [paginator]="true"
  [showCurrentPageReport]="true"
  [value]="entries"
  [loading]="isLoading()"
>
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <div>History</div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date">
        Date
        <p-sortIcon field="date"></p-sortIcon>
        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
      </th>
      <th class="text-center">
        Type
        <p-columnFilter
          field="representative"
          matchMode="in"
          display="menu"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
        >
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">Type Picker</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <mat-form-field appearance="fill" class="flex items-center justify-center">
              <mat-label>Entry type</mat-label>
              <mat-select [ngModel]="value" required (selectionChange)="filter($event.value)">
                <mat-option *ngFor="let type of types" [value]="type.id">
                  {{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="text-center">Actions </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="item">
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <div class="flex items-center">
              <p-calendar
                appendTo="body"
                class="ml-2"
                dateFormat="yy-mm-dd"
                hourFormat="24"
                [showTime]="true"
                [showWeek]="true"
                [stepMinute]="15"
                [showButtonBar]="true"
                [(ngModel)]="item.date"
              ></p-calendar>
            </div>
          </ng-template>
          <ng-template pTemplate="output">
            {{ item.date | date: 'yyyy-MM-dd HH:mm' }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <mat-form-field appearance="fill" class="flex items-center justify-center">
              <mat-label>Entry type</mat-label>
              <mat-select [(ngModel)]="item.typeId" required>
                <mat-option *ngFor="let type of types" [value]="type.id">
                  {{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
          <ng-template pTemplate="output">
            <div class="flex items-center justify-center">
              <div [class]="'type type-' + getTypeName(item.typeId)">
                {{ getTypeName(item.typeId) || 'unknown' }}
              </div>
            </div>
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-center">
        <button
          *ngIf="editing"
          mat-icon-button
          type="button"
          color="warn"
          aria-label="Cancel"
          matTooltip="Cancel"
          matTooltipPosition="below"
          pCancelEditableRow
          (click)="onRowEditCancel(item, ri)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          *ngIf="editing"
          mat-icon-button
          type="button"
          color="primary"
          aria-label="Save"
          matTooltip="Save"
          matTooltipPosition="below"
          pSaveEditableRow
          (click)="onRowEditSave(item)"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          *ngIf="!editing"
          mat-icon-button
          type="button"
          color="primary"
          aria-label="Edit"
          matTooltip="Edit"
          matTooltipPosition="below"
          pInitEditableRow
          (click)="onRowEditInit(item)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="!editing"
          mat-icon-button
          type="button"
          color="warn"
          aria-label="Delete"
          matTooltip="Delete"
          matTooltipPosition="below"
          [disabled]="isLoading()"
          (click)="onDelete(item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
