<h1 class="text-center">Daily timer: {{ getDiffString() }}</h1>
<div class="flex items-center justify-center daily-entries">
  <div
    *ngFor="let entry of entries; let i = index"
    class="flex items-center justify-center parent-type type-{{
      getTypeName(entry.typeId) || 'unknown'
    }}"
    [ngClass]="{
      'last-entry': isLastEntry(i)
    }"
    [attr.aria-label]="getTypeName(entry.typeId) || 'unknown'"
    [matTooltip]="getTypeName(entry.typeId) || 'unknown'"
    matTooltipPosition="below"
  >
    <div class="text-lg type type-{{ getTypeName(entry.typeId) || 'unknown' }}">
      {{ entry.date | date: 'HH:mm' }}
    </div>
    <span *ngIf="isCheckin(entry.typeId)" class="text-lg daily-separator"> - </span>
  </div>
  <div
    *ngIf="!lastCheckoutExists()"
    aria-label="Current time"
    matTooltip="Current time"
    matTooltipPosition="below"
  >
    <div class="text-lg type type-missing">
      {{ now | date: 'HH:mm' }}
    </div>
  </div>
</div>
